._*
.DS_Store
.DS_Store?
.ninja_log
.Spotlight-V100
.Trashes
*(automaticky uloženo).*
*(Automatisch gesichert).*
*(Autosaved).*
*(enregistré automatiquement).*
*(guardado automáticamente).*
*(Otomatik Kaydedildi).*
*(salvato automaticamente).*
*(Salvo Automaticamente).*
*(Автосохранение).*
*(تم الحفظ تلقائيًا).*
*(자동 저장됨).*
*（已自動儲存）.*
*（自动存储）.*
*（自動保存）.*
*~
build.ninja
build.stamp
ehthumbs.db
external
instance_ufos
master_ufo
node_modules
package-lock.json
package.json
proof
Thumbs.db
venv
venv-test